<form name="searchForm" ng-submit="save(searchForm, searchBean)" novalidate class="form-horizontal ocrip-margin-bottom">
    <div class="input-group">
        <input name="searchInput" type="text" class="form-control" placeholder="Recherche" ng-model="searchBean.searchInput"/>
        <div class="input-group-btn">
            <input type="submit" value="Rechercher" class="btn btn-primary"/>
        </div>
    </div>
</form>

<div>
  <map center="current-location" zoom="6">
    <info-window position="current-location" visible="true">
      <span>Position courante</span>
    </info-window>
  </map>
</div>

<ng-include src="'app/views/result.html'"></ng-include>